@page
@model TabiiWeb.Pages.Admin.MenuItems.IndexModel

<div class="container p-3">
    
    <br /><br />

    <table id="DT_load" class="table table-bordered table-striped" style="width:100% ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>FoodType</th>
                <th></th>
            </tr>
        </thead>
       
    </table>
</div>

@section Scripts{
    <script src="~/js/menuItem.js"></script>
}


